.container {
  display: flex;
  justify-content: center;
  padding: 20px;
  flex: auto;
  margin-top: 80px;
  overflow-x: hidden;

  @media (max-width: 600px) {
    padding: 5px;
  }
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 20px;
  column-gap: 20px;
  width: 100%;
  margin: 12px;
  height: fit-content;

  li {
    list-style: none;
    padding: 10px;
    border: 1px solid #2b2b2b;
    border-radius: 10px;
    margin: 6px;
    width: 250px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: center;
    background: rgba(18, 18, 18, 0.5);
    color: #ffffff;
    background-size: 300%;
    transition: all 0.5s ease;
    -webkit-box-shadow: 10px 10px 8px 0px rgba(71, 71, 71, 0.1);
    -moz-box-shadow: 10px 10px 8px 0px rgba(71, 71, 71, 0.1);
    box-shadow: 10px 10px 8px 0px rgba(71, 71, 71, 0.1);
    &:hover {
      transform: translateY(-5px);
      background: rgba(18, 18, 18, 0.8);
      -webkit-box-shadow: 10px 10px 8px 0px rgba(0, 0, 0, 0.5);
      -moz-box-shadow: 10px 10px 8px 0px rgba(0, 0, 0, 0.5);
      box-shadow: 10px 10px 8px 0px rgba(0, 0, 0, 0.5);
    }
  }

  @media (max-width: 600px) {
    width: 160px;
    height: fit-content;
  }
}

.imageContainer {
  width: 230px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  height: 300px;

  @media (max-width: 600px) {
    width: 150px;
    height: fit-content;
  }
}

.resImage {
  width: 230px;
  transform: scale(1);
  transition: all 0.5s ease;
  filter: brightness(0.8);

  &:hover {
    transform: scale(1.2);
    filter: brightness(1);
  }

  @media (max-width: 600px) {
    width: 140px;
    height: fit-content;
  }
}

.half {
  width: 50%;
}
