.container {
  display: flex;
  justify-content: center;
  padding: 20px;
  flex: auto;
  margin-top: 80px;
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 20px;
  column-gap: 20px;
  width: 100%;
  margin: 12px;
  height: fit-content;

  li {
    list-style: none;
    padding: 10px;
    border: 1px solid #2b2b2b;
    border-radius: 10px;
    margin: 6px;
    width: 250px;
    height: 150px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: center;
    background: linear-gradient(335deg, rgba(18, 18, 18, 0.8) 40%, rgba(0, 0, 0, 0.3) 90%);
    animation: bg-slide 0.5s linear 0s 1 normal forwards;
    color: #ffffff;
    filter: drop-shadow(5px 5px 10px #323232);
    transition: all 0.5s ease;
    &:hover {
      animation: bg-slide-rev 0.5s linear 0s 1 normal forwards;
      filter: drop-shadow(5px 5px 10px #000000);
    }
  }
}

@keyframes bg-slide {
  0% {
    background-position: left bottom;
    background-size: 100%;
  }

  100% {
    background-position: left bottom;
    background-size: 300%;
  }
}

@keyframes bg-slide-rev {
  0% {
    background-position: left bottom;
    background-size: 300%;
  }

  100% {
    background-position: left bottom;
    background-size: 100%;
  }
}
