.app {
  background-color: #e2e2e2;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Lato', sans-serif;
  position: relative;
  background: url(https://lumiere-a.akamaihd.net/v1/images/image_1921b77b.jpeg), no-repeat;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
}
